html,
body {
  margin: 0;
  padding: 0;

  background-color: black;

  canvas {
    display: block;
  }

  .mainContainer {
    display: flex;
    justify-content: center;
    align-self: center;
    align-content: center;
  }